<header>
  <div id="map"></div>
</header>
<main>
  <h1><a href="/" rel="home">WWDC Hike 2015</a></h1>

  <h3>When</h3>
  <p><mark>June 17th, 2015</mark>, the Sunday before WWDC. We'll leave at <mark>2pm</mark>.</p>

  <h3>Where</h3>
  <p><mark>We'll leave from <a href="https://www.google.com/maps/place/Lands+End/@37.785443,-122.50618,17z/data=!4m7!1m4!3m3!1s0x808587b2b311deb9:0x30b2509be3ee7e65!2sLands+End!3b1!3m1!1s0x808587b2b311deb9:0x30b2509be3ee7e65" rel="external nofollow">Lands End</a>.</mark> It's about a 20 minute drive from the Moscone. If you drive, you'll have to cab back to your car at the end since the route isn't a loop.</p>

  <h3>Hiking</h3>
  <p>It will take <mark>about 3-4 hours</mark> to hike <mark>6.2 miles</mark> (10km). The terrane ranges from dirt trails, streets, and beaches. Comfortable walking shoes are recommended.</p>
  <p>We'll see Lands End, Baker Beach, the Golden Gate Bridge, Crissy Field, and Fort Mason along the way. Click the pins on the map for details of each spot. We'll <mark>finish at In-N-Out</mark> in Fisherman's Warf. Anyone that wants to stay and eat is welcome.</p>
  <p>Don't feel like you have to do all of it. You're more than welcome to come, hike for a bit, and cab back to downtown when you're feeling done.</p>

  <p class="rsvp"><a class="button" href="https://soffes.typeform.com/to/tv6cP6" rel="external nofollow">RSVP</a></p>
</main>
<footer>
  <p>Organized by <a href="http://soff.es" rel="external nofollow">Sam Soffes</a>. WWDC Hike is not affiliated with Apple.</p>
</footer>

<script src="/assets/map.js"></script>
