<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>WWDC Hike &mdash; June 7th, 2015</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/619254/723946/css/fonts.css">
  <link rel="stylesheet" href="/assets/application.css">
  <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js"></script>
  <link href="https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css" rel="stylesheet">
  <% if ENV['RACK_ENV'] == 'production' %>
  <script>(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);mixpanel.init("30337cce7afdc0e9c7b4ba690e427055");</script>
  <% end %>
</head>
<body>
  <%= yield %>
  <script src="/assets/application.js"></script>
  <% if ENV['RACK_ENV'] == 'production' %>
  <script>mixpanel.track('Page View',{'Title':document.title,'URL':window.location.pathname});</script>
  <% end %>
</body>
</html>
